<header class='flex flex-row'>

  <form action='/home' method='get' style='display: inline;'>
    <button
      type='submit'
      class='border-2 rounded-md bg-slate-50 hover:bg-slate-200'
    >
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='w-6 h-6'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25'
        />
      </svg>

    </button>
  </form>
  {{#if user}}
    <div id='uid' data-id='{{user._id}}'></div>

    <div class='flex-1 self-start'>
      <h1 class='relative left-3'>Bienvenido
        {{user.first_name}}
        Rol:
        {{user.role}}</h1>
    </div>
    <nav class='flex flex-1 place-content-end bg-red-300'>

      <ul class='flex flex-row self-end space-x-3'>
        {{#if isAdmin}}
          <li><a href='/realtimeproducts'>My Products</a></li>
        {{else}}
          <div id='uid' data-id='{{user._id}}'></div>
          <li><button
              id='requestPremiumAccess'
              class='flex-auto relative self-center bg-blue-400 rounded-md hover:bg-blue-600'
            >Request Premium Access</button></li>
        {{/if}}

        <li>
          <form action='/auth/logout' method='post' style='display: inline;'>
            <button type='submit'>
              Logout
            </button>
          </form>
        </li>
        <li><a href='/profile'>Profile</a></li>
        <li><a href='/mytickets'>My Tickets</a></li>
        <li><a href='/mycart'>My Cart</a></li>

      </ul>
    </nav>
  {{/if}}
</header>

<script src='js/header.js'></script>