<div class='flex place-content-center'>
  <form
    action='/auth/register'
    method='POST'
    class='bg-white border-4 border-gray-200 shadow-lg rounded-lg p-6 w-full max-w-md'
  >

    {{#if errorMessage}}
      <label
        class='text-red-600 block mb-4 text-center'
      >{{errorMessage}}</label>
    {{/if}}

    <div class='space-y-4'>
      <div>
        <label for='first_name' class='block font-semibold text-gray-700'>First
          Name:</label>
        <input
          class='w-full rounded-md bg-slate-100 border-2 border-slate-300 p-2'
          type='text'
          name='first_name'
          id='first_name'
          value='{{first_name}}'
          placeholder='Enter your first name'
          required
        />
      </div>

      <div>
        <label for='last_name' class='block font-semibold text-gray-700'>Last
          Name:</label>
        <input
          class='w-full rounded-md bg-slate-100 border-2 border-slate-300 p-2'
          type='text'
          name='last_name'
          id='last_name'
          value='{{last_name}}'
          placeholder='Enter your last name'
          required
        />
      </div>

      <div>
        <label
          for='email'
          class='block font-semibold text-gray-700'
        >Email:</label>
        <input
          class='w-full rounded-md bg-slate-100 border-2 border-slate-300 p-2'
          type='email'
          name='email'
          id='email'
          placeholder='Enter your email'
          value='{{email}}'
          required
        />
      </div>

      <div>
        <label for='age' class='block font-semibold text-gray-700'>Age:</label>
        <input
          class='w-full rounded-md bg-slate-100 border-2 border-slate-300 p-2'
          type='number'
          name='age'
          id='age'
          value='{{age}}'
          placeholder='Enter your age'
          required
        />
      </div>

      <div>
        <label
          for='password'
          class='block font-semibold text-gray-700'
        >Password:</label>
        <input
          class='w-full rounded-md bg-slate-100 border-2 border-slate-300 p-2'
          type='password'
          name='password'
          id='password'
          placeholder='Create a password'
          required
        />
      </div>

      <div>
        <label
          for='repeat_password'
          class='block font-semibold text-gray-700'
        >Repeat Password:</label>
        <input
          class='w-full rounded-md bg-slate-100 border-2 border-slate-300 p-2'
          type='password'
          name='repeat_password'
          id='repeat_password'
          placeholder='Repeat your password'
          required
        />
      </div>

      <button
        type='submit'
        class='w-full bg-blue-400 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md mt-4'
      >Sign up</button>

      <p class='text-center mt-4'>Already have an account?
        <a href='/login' class='text-blue-600 hover:underline'>Log in</a></p>
    </div>
  </form>
</div>